//$xs-max: 575.9px;
$xs-max: 480px;
$sm-min: 576px;

$sm-max: 767.9px;
$md-min: 768px;

$md-max: 991.9px;
$lg-min: 992px;

$lg-max: 1199.9px;
$xl-min: 1200px;

$xl-max: 1309px;
$max-page-width: 1380px;

//other
$themefont: "Roboto", "Helvetica", sans-serif;
$navfont: $themefont;
$headingfont: $themefont;
$themeBorder_radius: 10px;
$btnBorder_radius: 5px;
$themeBox_shadow: 0 2px 20px 1px rgba(0, 0, 0, 0.1);

/*transparent nav*/
$navcolor: #fff;
$navBg_transp: transparent;
$linkcolor: #1b94e4; //$themecolorBlueLight;

/* colors */
//new lila
$themecolorLila: #2a2966;
$themecolorLilaDark: #2c407d;
$themecolorLilaDarkest: #161637;

$themecolor: #373c49;
$themeBorderColor: #ebebeb;

$themecolorLight: #66758d;
$themecolorLighter: #e6e6e6;

$themeHeadingcolor: #121923;
$lightgrey: #f9f9f9; //#f6f9fc;
$mediumgrey: #f1f1f4;
$themecolorGreen: #5d5f5e;
$themecolorRed: #e62e65;
$linkhoverOpacity: 0.7;
$themecolorOrange: #fcb25a;
$themecolorPink: #f24d7f;
$themecolorGreen: #00ac7d;

//Blue
$themecolorBlue: #1b2fe4;
// $themecolorBlueBg: linear-gradient(
//   to right bottom,
//   #1b2fe4,
//   #4852eb,
//   #6871f1,
//   #868ff3,
//   #a4acf4
// );

//BlueLight
$themecolorBlueLight: #2e9ce6;
// $themecolorBlueLightBg: linear-gradient(
//   to right bottom,
//   #1b94e4,
//   #42a1e8,
//   #5dafeb,
//   #76bcee,
//   #8ec9f1
// );

//Blue darker
//$themecolorBlueDarkerBg: linear-gradient(
//   to bottom,
//   #1576b7,
//   #177dc2,
//   #1885cd,
//   #1a8cd9,
//   #1b94e4
// );

//GreenNew
$themecolorGreenNew: #0ba893;
//$themecolorGreenNewBg: linear-gradient(
//   to right bottom,
//   #09907e,
//   #0aa18d,
//   #0bb39d,
//   #0dc6ad,
//   #0ed8bd
// );

//DarkGrey
$themecolorDarkGrey: #21242c;
$themecolorDarkGreyBg: linear-gradient(
  to bottom,
  #21242c,
  #292d36,
  #313641,
  #393f4c,
  #424857
);

$themecolorBlueLight: #2a2966;
//down
$themecolorBlueLightBgDown: linear-gradient(
  to bottom,
  #2a2966,
  #2b2f6c,
  #2b3572,
  #2c3a77,
  #2c407d
);
//   to bottom,
//   #161637,
//   #1a1940,
//   #1d1d48,
//   #212051,
//   #25245a,
//   #252f68,
//   #233a75,
//   #1e4583,
//   #095a96,
//   #006fa6,
//   #0084b5,
//   #0099c1
// );

//$themecolorLilabg: linear-gradient(
//left side up
$themecolorBlueLightBg:// #2c407d;
  linear-gradient(to right bottom, #2a2966, #2b2f6c, #2b3572, #2c3a77, #2c407d);
//   to right bottom,
//   #161637,
//   #1a1940,
//   #1d1d48,
//   #212051,
//   #25245a,
//   #252f68,
//   #233a75,
//   #1e4583,
//   #095a96,
//   #006fa6,
//   #0084b5,
//   #0099c1
// );
//GreenNew
$themecolorGreenNew: #0ba893;
$themecolorGreenNewBg: linear-gradient(
  to right bottom,
  #2a2966,
  #583071,
  #813676,
  #a64076,
  #c64e72
);
//down
$themecolorGreenNewBgDown: linear-gradient(
  to bottom,
  #161637,
  #231a3e,
  #301f45,
  #3d234b,
  #4b2751,
  #512953,
  #572b55,
  #5d2d57,
  #5d2d57,
  #5d2d57,
  #5d2d57,
  #5d2d57
);

//   to bottom,
//   #2a2966,
//   #583071,
//   #813676,
//   #a64076,
//   #c64e72
// );

//Blue
$themecolorBlue: #1b2fe4;
$themecolorBlueBg: linear-gradient(
  to right bottom,
  #0d3961,
  #0b4068,
  #08476f,
  #054f76,
  #02567d,
  #006388,
  #007092,
  #007e9c,
  #0095aa,
  #20adb3,
  #45c4b9,
  #6bdabb
);

//Blue darker (light orange)
$themecolorBlueDarkerBg: linear-gradient(
  to right bottom,
  #a54863,
  #b14f63,
  #bd5763,
  #c85f63,
  #d26862,
  #da7161,
  #e17a5f,
  #e8835e,
  #ef8e5c,
  #f49a5b,
  #f9a65a,
  #fcb25a
);

// (light orange)
// $themecolorGreenNewBg: linear-gradient(
//   to right bottom,
//   #a54863,
//   #b14f63,
//   #bd5763,
//   #c85f63,
//   #d26862,
//   #da7161,
//   #e17a5f,
//   #e8835e,
//   #ef8e5c,
//   #f49a5b,
//   #f9a65a,
//   #fcb25a
// );

$themecolorLilaDarkestBg: linear-gradient(
  to bottom,
  #161637,
  #1b1b42,
  #201f4e,
  #25245a,
  #2a2966
);

//beautiful blue
$themecolorNewBlueBg: linear-gradient(
  to right bottom,
  #004e91,
  #005799,
  #0061a2,
  #006aa9,
  #0074b1
);
