//$xs-max: 575.9px;
$xs-max: 480px;
$sm-min: 576px;

$sm-max: 767.9px;
$md-min: 768px;

$md-max: 991.9px;
$lg-min: 992px;

$lg-max: 1199.9px;
$xl-min: 1200px;

$xl-max: 1309px;
$max-page-width: 1380px;

//other
$themefont: "Roboto", "Helvetica", sans-serif;
$navfont: $themefont;
$headingfont: $themefont;
$themeBorder_radius: 10px;
$btnBorder_radius: 5px;
$themeBox_shadow: 0 2px 20px 1px rgba(0, 0, 0, 0.1); // 0 1.875rem 3.125rem rgb(40 45 80 / 5%); //

$themeBox_shadow: 0 4px 8px 0 hsl(217deg 17% 35% / 8%);

/*transparent nav*/
$navcolor: #fff;
$navBg_transp: transparent;
$linkcolor: #1b94e4; //$themecolorBlueLight;

/* colors */
//new lila
$themecolorLila: #2a2966;
// $themecolorLilaDark: #2c407d;
$themecolorLilaDark: #1b274b;
// $themecolorLilaDarkest: #161637;
$themecolorLilaDarkest: #151e37;

$themecolor: #373c49;
$themecolorFront: #c7d0eb;
$themeBorderColor: #ebebeb;
$themeBorderColorFront: #2f4483;

$themecolorLight: #66758d;
$themecolorLighter: #e6e6e6;

$themeHeadingcolor: #121923;
$lightgrey: #f9f9f9; //#f6f9fc;
$mediumgrey: #f1f1f4;
$themecolorGreen: #5d5f5e;
$themecolorRed: #e62e65;
$linkhoverOpacity: 0.7;
$themecolorOrange: #fcb25a;
$themecolorPink: #f24d7f;
$themecolorGreen: #00ac7d;
$mistyRose: #efd6d2;

//Blue
$themecolorBlue: #1b2fe4;
//BlueLight
$themecolorBlueLight: #2e9ce6;
//GreenNew
$themecolorGreenNew: #0ba893;
//DarkGrey
$themecolorDarkGrey: #21242c;
$themecolorDarkGreyBg: linear-gradient(
  to bottom,
  #21242c,
  #292d36,
  #313641,
  #393f4c,
  #424857
);

$themecolorBlueLight: linear-gradient(
  to bottom,
  #161637,
  #1b1b42,
  #201f4e,
  #25245a,
  #2a2966
);
//down
$themecolorBlueLightBgDown: linear-gradient(
  to bottom,
  #2a2966,
  #2b2f6c,
  #2b3572,
  #2c3a77,
  #2c407d
);

//$themecolorLilabg: linear-gradient(
//left side up
$themecolorBlueLightBg: $themecolorLilaDark;
// $themecolorBlueLightBg: linear-gradient(
//   to bottom,
//   #161637,
//   #1b1b42,
//   #201f4e,
//   #25245a,
//   #2a2966
// );

//GreenNew
$themecolorGreenNew: #0ba893;
$themecolorGreenNewBg: linear-gradient(
  to bottom,
  #5d2d57,
  #662f5f,
  #6f3266,
  #78346e,
  #813676
);

//Blue
$themecolorBlue: #1b2fe4;
$themecolorBlueBg: linear-gradient(
  to right bottom,
  #2c407d,
  #2c3a77,
  #2b3572,
  #2b2f6c,
  #2a2966
);

//Blue darker (light orange)
$themecolorBlueDarkerBg: linear-gradient(
  to right bottom,
  #a54863,
  #b14f63,
  #bd5763,
  #c85f63,
  #d26862,
  #da7161,
  #e17a5f,
  #e8835e,
  #ef8e5c,
  #f49a5b,
  #f9a65a,
  #fcb25a
);

$themecolorLilaDarkestBg: linear-gradient(
  to bottom,
  #161637,
  #1b1b42,
  #201f4e,
  #25245a,
  #2a2966
);

//beautiful blue
$themecolorNewBlueBg: linear-gradient(
  to right bottom,
  #004e91,
  #005799,
  #0061a2,
  #006aa9,
  #0074b1
);

$extraLightBlueOverlay: linear-gradient(
  to right bottom,
  #8fa1d6,
  #9daddb,
  #abb8e0,
  #b9c4e5,
  #c7d0ea
);
