//$xs-max: 575.9px;
$xs-max: 480px;
$sm-min: 576px;

$sm-max: 767.9px;
$md-min: 768px;

$md-max: 991.9px;
$lg-min: 992px;

$lg-max: 1199.9px;
$xl-min: 1200px;

$xl-max: 1309px;
$max-page-width: 1380px;

/* colors */
$blueDarkest: #151c37; //#1b284a;
$blueDark: #232f5c;
$blue: #1260d8;
$blueLight: #4dbeff;
$turqoise: #b8e0d7;
$turqoiseLight: #e6f4f1;
$purpleLight: #9966ff;

$themecolorNewBlue: #0085cc;
$themecolorNewblueDarker: #006399;

// $themecolorNewBlue: $blueLight;
// $themecolorNewblueDarker: $blue;

//text color
$headingcolor: #212735;
$themecolor: $headingcolor; //#30394f; //#4a5669;
$navcolor: $themecolor;

//outline
$themecolorLight: #66758d;
$themecolorLightest: #b5bdc9;

$themeBorderColor: #f2f2f2;
$lightgrey: #f9f9f9;
$themecolorPink: #ff5c9f; //#f24d7f;
$themecolorGreen: #00ac7d;
$linkcolor: $themecolorNewBlue;

//other
$themefont: "Roboto", "Helvetica", sans-serif;

$themeBorder_radius: 12px; //8px
$btnBorder_radius: 8px; //20px;

$link_colorBox_shadow: 0 4px 0 #0085cc;
$blueBox_shadow: 0 4px 0 #0b3f8e;
$bluedarkBox_shadow: 0 4px 0 #070912;

$turqoiseBox_shadow: 0 4px 0 #b8e0d7;
$greyBox_shadow: 0 4px 0 #d9d9d9;

$greenBox_shadow: 0 4px 0 #00664b;

$themeBox_shadow: 0 4px 0 #212735;

// $themeBox_shadow: 0 2px 0 #070912;

//  $themeBox_shadow: 0 4px 8px 0 hsl(217deg 17% 35% / 8%);
$themeBox_shadow_more: 0px 2px 10px rgb(0 0 0 / 20%);


//overlay colors
$blueDarkOverlayColor: linear-gradient(
  to right bottom,
  #151c37,
  #182140,
  #1c2549,
  #1f2a52,
  #232f5c
);
$blueOverlayColor: linear-gradient(
  to right bottom,
  #0f55bd,
  #1f61ca,
  #2c6ed7,
  #377be3,
  #4288f0
);

$iconsize: 1.6rem;
$iconsizeHalf: 0.8rem;